<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <title>Silmar.dll<%= " - " + current_article.title if current_article %></title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "syntax" %>
    <%= javascript_include_tag "all" %>
    <%= favicon_tag "images/favicon.png", :rel => "shortcut icon"%>
  </head>
  <body>
    <%= partial "partials/nav" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 bg-primary">
          <%= partial "partials/sidebar" %>
        </div>
        <div class="col-xl-9 bg-light">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row">
        <%= partial "partials/footer" %>
      </div>
    </div>
  </body>
</html>
