<aside class="container">
  <div class="d-flex flex-column align-items-center pb-4">
    <img src="<%= data.authors.first.photo %>" width="110" height="110" class="rounded-circle m-3" alt="Luis Silva">
    <a class="mb-3" href="/">
      <h5>I'm a programmer \(¬_¬)/</h5>
    </a>
    <div class="d-inline-flex">
      <a class="" href="<%= data.authors.first.stackoverflow %>">
        <h6>Stack Overflow</h6>
      </a>
      <p class="text-white font-weight-bold"> &nbsp;|&nbsp; </p>
      <a class="" href="<%= data.authors.first.github %>">
        <h6>GitHub</h6>
      </a>
    </div>
  </div>

  <div class="text-white pt-4">
    <h4 class="">Artículos Recientes</h4>
    <ul class="list-unstyled">
      <li>
        <ol class="list-unstyled">
          <% blog.articles.first(15).each do |article| %>
            <li class="list-inline-item p-1">
              <%= link_to article.title, article %>
              <span><%= article.date.strftime("%b %e") %></span>
            </li>
          <% end %>
        </ol>
      </li>
    </ul>
    <h4 class="">Etiquetas</h4>
    <ul class="list-unstyled">
      <li>
        <ul class="list-inline">
          <% blog.tags.each do |tag, articles| %>
            <li class="list-inline-item p-1">
              <%= link_to "#{tag}", tag_path(tag) %>
              <span><%= "(#{articles.size})" %></span>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</aside>
