---
pageable: true
per_page: 4
---

<div class="row pt-4">
  <div class="col-lg-9">
    <div class="row">
      <% page_articles.each do |article| %>
        <div class="col-md-6">
          <div class="card border-light shadow-lg p-1 mb-4 rounded">
            <div class="card-body">
              <h3 class="card-title">
                <%= link_to article.title, article %>
              </h3>
              <h6 class="card-subtitle mb-2">
                by
                <a href="<%=data.authors.first.github %>">
                  <span class="badge badge-primary">Luis Silva</span>
                </a>
              </h6>
              <p class="text-muted">
                <time><%= article.date.strftime('%b %e %Y') %></time>
              </p>
              <p class="card-text"> <%= article.summary(250) %> </p>
              <% link_to article, class: "card-link" do %>
                Leer más...
                <span aria-hidden="true">&raquo;</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card text-white bg-primary shadow-lg mb-3 rounded">
      <div class="card-body">
        <h5 class="card-title">Artículos Recientes</h5>
        <ul class="list-unstyled">
          <li>
            <ol class="list-unstyled">
              <% blog.articles.first(15).each do |article| %>
                <li class="list-inline-item">
                  <%= link_to article.title, article %>
                  <span><%= article.date.strftime("%b %e") %></span>
                </li>
              <% end %>
            </ol>
          </li>
        </ul>
        <h5 class="card-title">Etiquetas</h5>
        <ul class="list-unstyled">
          <li>
            <ul class="list-inline">
              <% blog.tags.each do |tag, articles| %>
                <li class="list-inline-item">
                  <%= link_to "#{tag}", tag_path(tag) %>
                  <span><%= "(#{articles.size})" %></span>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-12 mb-3 pb-5">
    <div class="d-flex justify-content-between">
      <% if paginate && num_pages > 1 %>
        <p>Página <%= page_number %> de <%= num_pages %></p>
      <% end %>

      <ul class="pagination justify-content-end">
        <li class="page-item">
          <% if paginate && num_pages > 1 && prev_page %>
            <% link_to prev_page, class: "page-link bg-primary" do%>
              <span aria-hidden="true">&laquo;</span>
              Ant. Página
            <% end %>
          <% end %>
        </li>
        <li class="page-item">
          <% if paginate %>
            <% if next_page %>
              <% link_to next_page, class: "page-link bg-primary" do %>
                Sig. Página
                <span aria-hidden="true">&raquo;</span>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
