---
pageable: true
per_page: 3
---

<div class="row pt-4">
  <div class="col-md-8">
    <% page_articles.each do |article| %>
      <h2>
        <%= link_to article.title, article %>
      </h2>
      <p class="lead">
        by <a href="<%=data.authors.first.github %>">Luis Silva</a>
      </p>
      <p>
        <span class="glyphicon glyphicon-time"></span>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </p>
      <hr>
      <%= image_tag post_image(article), class: "img-fluid" %>
      <hr>
      <p> <%= article.summary(250) %> </p>
      <% link_to article, class: "btn btn-primary" do %>
        Leer m치s...
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
      <hr>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h5 class="card-title">Articulos Recientes</h5>
            <ul class="list-unstyled">
              <li>
                <ol class="list-unstyled">
                  <% blog.articles.first(15).each do |article| %>
                    <li class="list-inline-item">
                      <%= link_to article.title, article %>
                      <span><%= article.date.strftime("%b %e") %></span>
                    </li>
                  <% end %>
                </ol>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h5 class="card-title">Tags</h5>
            <ul class="list-unstyled">
              <li>
                <ul class="list-inline">
                  <% blog.tags.each do |tag, articles| %>
                    <li class="list-inline-item">
                      <%= link_to "#{tag}", tag_path(tag) %>
                      <span><%= "(#{articles.size})" %></span>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-8">
    <% if paginate && num_pages > 1 %>
      <p>P치gina <%= page_number %> de <%= num_pages %></p>
    <% end %>

    <ul class="pagination justify-content-end">
      <li class="page-item">
        <% if paginate && num_pages > 1 && prev_page %>
          <% link_to prev_page, class: "page-link bg-primary" do%>
            <span aria-hidden="true">&laquo;</span>
            Anterior p치gina
          <% end %>
        <% end %>
      </li>
      <li class="page-item">
        <% if paginate %>
          <% if next_page %>
            <% link_to next_page, class: "page-link bg-primary" do %>
              Siguiente p치gina
              <span aria-hidden="true">&raquo;</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      </li>
    </ul>
</div>
