---
pageable: true
per_page: 4
---

<div class="row justify-content-center">
  <div class="col-lg-10 pt-4">
    <div class="row">
      <% page_articles.each do |article| %>
        <div class="col-md-12">
          <div class="card border-light shadow-lg p-1 mb-4 rounded bg-light">
            <div class="card-body">
              <h3 class="card-title">
                <%= link_to article.title, article %>
              </h3>
              <h6 class="card-subtitle mb-2">
                by
                <a href="<%=data.authors.first.github %>">
                  <span class="badge badge-primary">Luis Silva</span>
                </a>
              </h6>
              <p class="text-muted">
                <i class="far fa-clock"></i>
                <time><%= article.date.strftime('%b %e %Y') %></time>
              </p>
              <p class="card-text"> <%= article.summary(250) %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-lg-10 mb-3 pb-5">
    <div class="d-flex justify-content-between">
      <% if paginate && num_pages > 1 %>
        <p>Página <%= page_number %> de <%= num_pages %></p>
      <% end %>

      <ul class="pagination justify-content-end">
        <li class="page-item">
          <% if paginate && num_pages > 1 && prev_page %>
            <% link_to prev_page, class: "page-link bg-primary" do%>
              <span aria-hidden="true">&laquo;</span>
              Ant. Página
            <% end %>
          <% end %>
        </li>
        <li class="page-item">
          <% if paginate %>
            <% if next_page %>
              <% link_to next_page, class: "page-link bg-primary" do %>
                Sig. Página
                <span aria-hidden="true">&raquo;</span>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
