---
pageable: true
per_page: 6
---

<div class="col-md-12">
  <% if paginate && num_pages > 1 %>
    <p>P치gina <%= page_number %> de <%= num_pages %></p>
    <% if prev_page %>
      <p><%= link_to 'Anterior p치gina', prev_page, class: 'btn btn-primary' %></p>
    <% end %>
  <% end %>
</div>

<div class="col-md-12">
  <% pages = page_articles.count / 6 %>
  <% (0..pages).each do |n| %>
    <div class="flex-center">
      <% n = n+2 unless n.zero? %>
      <% page_articles[n..(n+2)].each do |article| %>
        <div class="col-md-4 post">
          <article>
            <h2><%= link_to article.title, article %></h2>
            <h5><%= article.date.strftime('%b %e') %></h5>
            <%= article.summary(200) %>
            <div class='pull-right'>
              <%= link_to 'Leer m치s...', article , class: 'btn btn-primary'%>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <% if paginate %>
    <% if next_page %>
      <p class='pull-right'><%= link_to 'Siguiente p치gina', next_page, class: 'btn btn-primary'%></p>
    <% end %>
  <% end %>
</div>
