---
pageable: true
per_page: 3
---

<div class="row">
  <div class="col-md-8">
    <% if paginate && num_pages > 1 %>
      <p>Página <%= page_number %> de <%= num_pages %></p>
    <% end %>
  </div>

  <div class="col-md-8">
    <% page_articles.each do |article| %>
      <h2>
        <%= link_to article.title, article %>
      </h2>
      <p class="lead">
        by <a href="<%=data.authors.first.github %>">Luis Silva</a>
      </p>
      <p>
        <span class="glyphicon glyphicon-time"></span>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </p>
      <hr>
      <img class="img-responsive" src="./images/image_post.jpg" alt="">
      <hr>
      <p> <%= article.summary(200) %> </p>
      <% link_to article, class: 'btn btn-primary' do %>
        Leer más...
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
      <hr>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="well">
      <h4>Articulos Recientes</h4>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li>
              <ol>
                <% blog.articles.first(15).each do |article| %>
                  <li>
                    <%= link_to article.title, article %>
                    <span><%= article.date.strftime('%b %e') %></span>
                  </li>
                <% end %>
              </ol>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="well">
      <h4>Tags</h4>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled">
            <li>
              <ul class="list-inline">
                <% blog.tags.each do |tag, articles| %>
                  <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-8">
    <% if paginate && num_pages > 1 %>
      <p>Página <%= page_number %> de <%= num_pages %></p>
    <% end %>

    <ul class="pager">
      <li class="previous">
        <% if paginate && num_pages > 1 && prev_page %>
          <% link_to prev_page, class: '' do%>
            <span class="glyphicon glyphicon-chevron-left"></span>
            Anterior página
          <% end %>
        <% end %>
      </li>
      <li class="next">
        <% if paginate %>
          <% if next_page %>
            <% link_to next_page, class: '' do %>
              Siguiente página
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      </li>
    </ul>
</div>
